<footer  >

  <div class="columns">
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/lokacija.png" width="62" />
        <div>
          <a href="/pocetna">NAŠE POSLOVNICE</a>
          <p> Dođite u najbližu poslovnicu ili nas pozovite putem besplatnog broja:  <a href="tel:061550134"> 061/550-134 </a> </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/katalog_icon.png" width="62" />
        <div>
          <a href="">KATALOG</a>
          <p> Omogućili smo pregled narudžbi i raznih artikala bez potrebe dolaska u poslovnicu u samo par klikova! </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/IT_Solutions.png" width="62" />
        <div>
          <a href="">SLOŽENA RJEŠENJA</a>
          <p> Za složena IT rjesenja i bilo kakva pitanja pozovite naš broj ili pošaljite mail na <a href="mailto:prodaja@itoprema.ba">prodaja@itoprema.ba</a> </p>
        </div>
      </div>
    </div>
  </div>

</footer>

